* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BORA STYLE */







/* BORA STYLE */






/* DARKO STYLE */






/* DARKO STYLE */






/* AADIL STYLE */







/* AADIL STYLE */







/* DENIS STYLE */







/* DENIS STYLE */